body {
	background-image: url("harboureastasia.github.io/Harbor-Cover-1.jpg");
	height: 100vh;
	width: auto;
	margin: 0px;
}

.blocks img {
	float: left;
	max-height: 50px;
}

.footer {
	clear: both;
	background-color: #222;
	height: 15px;
}

.header img{
	height: 25px;
	width: 100%;
	margin: 0 auto;
}

.logo {
	width: 100%;
	margin: 0 auto;
}

.blocks {
	width: 100%;
	margin: 0 auto;
}
