body {
	background-image: url("harboureastasia.github.io/Harbor-Cover-1.jpg");
	height: 90vh;
	width: auto;
	margin: 0px;
}

.content {
	height: 90%;
}

.blocks img {
	max-height: 50px;
}

.footer {
	clear: both;
	background-color: #222;
	height: 10vh;
}

.header img{
	height: 75px;
	display: block;
	margin-top: 100px;
	margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto
}

.logo img{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.blocks {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.block {
	display: inline-block;
}
